.search_phrase {
    color: #ff5658;
    text-decoration: underline;
}
#answer_col {
    background: deepskyblue;
}

/*tags a {*/
/*    text-decoration: none;*/
/*    color: red;*/
/*}*/

/*tags ul li{*/
/*    list-style: none;*/
/*    float: left;*/
/*    background-color: black;*/
/*    color: white;*/
/*    font-family: impact;*/
/*    margin: 2px;*/
/*}*/

/*tags ul {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*}*/

.tag{
    background-color: #3897ae;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 6px;
    padding: 2px;
    width: max-content;
}

.tag a[name=link]{
    color: white;
    text-decoration: none;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.tag a[name=link]:hover{
    color: #a2a2a2;
    text-decoration: none;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}
.tag a[name=del]{
    color: #5a5a5a;
    text-decoration: none;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

ul[name=tag_list]{
    list-style-type: none;
}

#login_form{
    color: white;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    background-color: #450094;
    width: max-content;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .9)
}
#login_form input{
    margin: auto;
    border-radius: 4px;
    width: 100%;
}
/*#login_form h1, p{*/
    /*width: 100%;*/
    /*margin: auto;*/
/*}*/