body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    background: #9f989d;
    border-radius: 5px;
}

body * {
    border-radius: 5px;
}

.search_phrase {
    color: #ff5658;
    text-decoration: underline;
}
#answer_col {
    background: deepskyblue;
}

::placeholder {
    color: white;
}

input {
    color: white;
    border: 0;
    background: #736a71;
}

#login {
    padding: 5px;
    background: #ff5658;
    width: max-content;
    float: right;
    text-align: left;
}

#logout {
    padding: 5px;
    background: #ff5658;
    width: max-content;
    float: right;
    text-align: left;
}

.register_button {
    display: block;
    margin: 0px 0px 10px 0px;
}

a:hover {
    color: black;
}

a {
    color: #6a0808
}

tr:hover{
    background-color: #fea7a2;
}

.answer_buttons tr:hover {background: #9f989d; border:0
}
.question_buttons tr:hover {background: #9f989d; border: 0
}

th {
    background-color: #ff5658;
}


/*tags a {*/
/*    text-decoration: none;*/
/*    color: red;*/
/*}*/

/*tags ul li{*/
/*    list-style: none;*/
/*    float: left;*/
/*    background-color: black;*/
/*    color: white;*/
/*    font-family: impact;*/
/*    margin: 2px;*/
/*}*/

/*tags ul {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*}*/

.tag{
    background-color: #3897ae;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 6px;
    padding: 2px;
    width: max-content;
}

.tag a[name=link]{
    color: white;
    text-decoration: none;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.tag a[name=link]:hover{
    color: #a2a2a2;
    text-decoration: none;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}
.tag a[name=del]{
    color: #5a5a5a;
    text-decoration: none;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

ul[name=tag_list]{
    list-style-type: none;
}

#login_form{
    color: white;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    background-color: #ff5658;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .9);
    margin: auto;
}
#login_form input{
    border-radius: 4px;
}

#login_form_parent{
    width: max-content;
    padding-top: 10%;
    margin: auto;
}

.menu{
    width: max-content;
}

.menu_point{
    display: block;
    background-color: #ff5658;
    color: white;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    text-decoration: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.login_link{
    display: block;
    color: #ffffff;
    margin: 5px;
}

.login_link:hover{
    color: #cccccc;
}

#registration_form{
    color: white;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    background-color: #ff5658;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .9);
    margin: auto;
}
#registration_form input{
    border-radius: 4px;
}

table {border-radius: 4px;
    border: hidden;
}