<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/Askmate.ico') }}">
</head>
<body>
<h1>Add image</h1>
<div class="menu">
    <a href="/" class="menu_point">Back to Main page</a>
    {% if session['username'] %}
        <a href="/logout" class="menu_point">Logout</a>
        <a href="/user/{{ user_id }}" class="menu_point">Your activities - {{ session['username'] }}'s user page</a>
        <a href="/user-list" class="menu_point">List of all registered users</a>
        <a href="/list" class="menu_point">List of all questions</a>
    {% else %}
        <a href="/registration" class="menu_point">Register</a>
        <a href="/login" class="menu_point">Login</a>
    {% endif %}
</div>
<form method="POST">
    <label for="URL">Please specify the URL for your image:</label><br>
    <input name="URL" type="text" size="70"><br>
    <button type="submit">Add image</button>
</form>
</body>
</html>



