<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add tag to question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/Askmate.ico') }}">
</head>
<body>
<h1>{{ question_title }}</h1>
<div class="menu">
    <a href="/" class="menu_point">Back to Main page</a>
    {% if session['username'] %}
        <a href="/logout" class="menu_point">Logout</a>
        <a href="/user/{{ user_id }}" class="menu_point">Your activities - {{ session['username'] }}'s user page</a>
        <a href="/user-list" class="menu_point">List of all registered users</a>
        <a href="/list" class="menu_point">List of all questions</a>
        <a href="/tags" class="menu_point">All tags</a>
        <a href="/add-question" class="menu_point">Add new question</a>
    {% else %}
        <a href="/registration" class="menu_point">Register</a>
        <a href="/login" class="menu_point">Login</a>
    {% endif %}
</div>
{% if tags %}
    {% for tag in tags %}
        <div class="tag">
            <a href="/tags/{{ tag['name'] }}" name="link">#{{ tag['name'] }}</a>
            <a href="/question/{{ question_id }}/{{ tag['id'] }}/delete-tag" name="del">x</a>
        </div>
    {% endfor %}
{% endif %}
<form method="post">
    <input type="text" name="new_tag">
    <input type="submit" value="Add tag">
</form>
</body>
