<div class="answers_to_question">
    <table style="width:90%" border="1">
        <tr>
            {% for header in headers_a %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for item in answer %}
                {% if item == 'image' %}
                    <td>
                        {% if answer_ids[answer['id']][0] == True %}
                            <img src='{{ answer_ids[answer['id']][1] }}' alt="here should be an image" width="40"
                                 height="40"><br>
                        {% else %}
                            {{ answer[item] }}
                        {% endif %}
                    </td>
                {% elif item == 'accepted_status' %}
                    <td>
                        {% if answer['accepted_status'] %}
                            <img src='{{ url_for('static', filename='icons/accepted.jpeg') }}'
                                 alt="here should be an accepted logo image" width="40"
                                 height="40" title="accepted answer"><br>
                        {% else %}
                            <img src='{{ url_for('static', filename='icons/rejected.jpeg') }}'
                                 alt="here should be a rejected logo image" width="40"
                                 height="40" title="rejected answer"><br>
                        {% endif %}
                    </td>
                {% else %}
                    <td>{{ answer[item] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>

    {% include 'answer-comments.html' %}
</div>
