<div class="answer_buttons">
    <table align="center" cellpadding="40">
        <tr>
         <td>
                <a href="/answer/{{ answer['id'] }}/accept" onclick="return confirm('Are you sure?')">Accept
                    answer</a>
            </td>
            <td>
                <a href="/answer/{{ answer['id'] }}/delete" onclick="return confirm('Are you sure?')">Delete
                    answer</a>
            </td>
            <td>
                <a href="/question/{{ question_id }}/{{ answer['id'] }}">Edit answer</a>
            </td>
            <td>
                <a href="/question/{{ question_id }}/{{ answer['id'] }}/answer/up">
                    <img src='{{ url_for('static', filename='icons/voteup.png') }}' alt="here should be vote up image"
                         width="40" height="40">
                </a><br>
            </td>
            <td>
                <a href="/question/{{ question_id }}/{{ answer['id'] }}/answer/down">
                    <img src='{{ url_for('static', filename='icons/votedown.png') }}'
                         alt="here should be vote down image"
                         width="40" height="40">
                </a><br>
            </td>
            <td>
                <a href="/answer/{{ answer['id'] }}/new-comment">Add comment</a><br>
            </td>
            {% if answer_ids[answer['id']][0] == True %}
                <td>
                    <a href="/question/{{ question_id }}/{{ answer['id'] }}/delete-image">Delete image</a>
                </td>
            {% else %}
                <td><a href="/question/{{ question_id }}/{{ answer['id'] }}/add-image">Add image</a></td>
            {% endif %}
        </tr>
    </table>
</div>