<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Askmate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/Askmate.ico') }}">
</head>
<body>
<p><a href="/login">Login</a></p>
<p><a href="/logout">Logout</a></p>
{% if session['username'] %}
    <h1>Welcome {{ session['username'] }} to Askmate</h1>
    <h4><a href="/logout">Logout</a></h4>
    <h4><a href="/user/{{ user_id }}">Your activities - {{ session['username'] }}'s user page</a></h4>
    <h4><a href="/list">List of all questions</a></h4>
    <h4><a href="/add-question">Add new question</a></h4>
{% else %}
    <h1>Welcome to Askmate</h1>
    <h4><a href="/list">List of all questions</a></h4>
    <h4><a href="/registration">Register</a></h4>
    <h4><a href="/login">Login</a></h4>
{% endif %}
<br>
<form action="/search" method="post">
    <input type="text" name="search_phrase">
    <input type="submit" value="Search">
</form>
<br>
<table style="width:90%" border="1">
    <tr>
        <th>{{ header }}</th>
        {% if session['username'] %}
            <th>Add new answer</th>
            <th>Delete question</th>
            <th>Edit question</th>
        {% endif %}
    </tr>
    {% for question in questions %}
        <tr>
            <td>
                <a href="/question/{{ question['id'] }}/view_counter">{{ question['title'] }}</a>
            </td>
            {% if session['username'] %}
                <td>
                    <a href="/question/{{ question['id'] }}/new-answer">Add an answer</a>
                </td>
                <td>
                    <a href="/question/{{ question['id'] }}/delete" onclick="return confirm('Are you sure?')">Delete
                        question</a>
                </td>
                <td>
                    <a href="/add-question/{{ question['id'] }}">Edit question</a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
</body>
</html>
