<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>List of all Questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/Askmate.ico') }}">
</head>
<body>
<h1>List of all questions</h1>
<h4><a href="/">Back to Main page</a></h4>
{% if session['username'] %}
    <h4><a href="/logout">Logout</a></h4>
    <h4><a href="/user/{{ user_id }}">Your activities - {{ session['username'] }}'s user page</a></h4>
    <h4><a href="/user-list">List of all registered users</a></h4>
    <h4><a href="/add-question">Add new question</a></h4>
{% else %}
    <h4><a href="/registration">Register</a></h4>
    <h4><a href="/login">Login</a></h4>
{% endif %}
<br>
<table style="width:90%" border="1">
    <tr>
        {% for header in headers %}
            <th>{{ header }} <br> <a href="/list/?order_by={{ header }}&order_direction=asc">↑</a> <a
                    href="/list/?order_by={{ header }}&order_direction=desc">↓</a></th>
        {% endfor %}
        {% if session['username'] %}
            <th>Add new answer</th>
            <th>Delete question</th>
            <th>Edit question</th>
        {% endif %}
    </tr>
    {% for question in questions %}
        <tr>
            {% for key, value in question.items() %}
                {% if key == 'title' %}
                    <td>
                        <a href="/question/{{ question['id'] }}/view_counter">{{ value }}</a>
                    </td>
                {% else %}
                    <td>{{ value }}</td>
                {% endif %}
            {% endfor %}
            {% if session['username'] %}
                <td>
                    <a href="/question/{{ question['id'] }}/new-answer">Add an answer</a>
                </td>
                <td>
                    <a href="/question/{{ question['id'] }}/delete" onclick="return confirm('Are you sure?')">Delete
                        question</a>
                </td>
                <td>
                    <a href="/add-question/{{ question['id'] }}">Edit question</a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
</body>
</html>
