<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>List of Questions</title>
    </head>
    <body>
        <h1>List of Questions</h1>
        <h4><a href="/add-question">Add new question</a></h4>
	<br>
	<table style="width:90%" border="1">
        <tr>
        <thead>
    <tr>
        {% for key in questions[0].keys() %}
            <th> {{ key }} <br>
                <a href="/?order_by={{ key }}&order_direction=asc">↑</a>
                <a href="/?order_by={{ key }}&order_direction=desc">↓</a>
            </th>
        {% endfor %}
            <th>Add new answer</th>
            <th>Delete question</th>
            <th>Edit question</th>
    </tr>
    </thead>
        </tr>
        {% for question in questions %}
        <tr>
                {% for key, value in question.items() %}
                    {% if key == 'title' %}
                        <td><a href="/question/{{question['id']}}">{{ value }}</a></td>
                    {% else %}
                        <td>{{value}}</td>
                    {% endif %}
                {% endfor %}
                <td>
                    <a href="/question/{{question['id']}}/new-answer">Add an answer</a>
                </td>
                <td>
                    <a href="/question/{{question['id']}}/delete" onclick="return confirm('Are you sure?')">Delete question</a>
                </td>
                <td>
                    <a href="/add-question/{{question['id']}}">Edit question</a>
                </td>
        </tr>
        {% endfor %}
    </table>
    </body>
</html>
