<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="login_form_parent">
<form id="login_form" method="post">
    <h1>Login</h1>
    <a href="/" class="login_link">Back to Main page</a>
    <a href="/registration" class="login_link">Register</a>
    <p>Username:</p>
    <input type="text" name="username">
    <p>Password:</p>
    <input type="password" name="password">
    <input type="submit" value="Login">
    {% if invalid_username_or_password %}
        <p id="invalid_username_or_password">{{ invalid_username_or_password }}</p>
    {% endif %}
</form>
</body>
</html>