<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ 'Edit Answer' if answer_id else 'Post Answer' }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/Askmate.ico') }}">
</head>
<body>
<h1>{{ 'Edit Answer' if answer_id else 'Post Answer' }}</h1>

{% if answer_id %}
    <div class="menu">
        <a href="/" class="menu_point">Back to Main page</a>
        {% if session['username'] %}
            <a href="/logout" class="menu_point">Logout</a>
            <a href="/user/{{ user_id }}" class="menu_point">Your activities - {{ session['username'] }}'s user page</a>
            <a href="/user-list" class="menu_point">List of all registered users</a>
            <a href="/list" class="menu_point">List of all questions</a>
            <a href="/tags" class="menu_point">All tags</a>
        {% else %}
            <a href="/registration" class="menu_point">Register</a>
            <a href="/login" class="menu_point">Login</a>
        {% endif %}
    </div>
    <form method="POST">
        <p><strong> Question title: {{ question_title }} </strong></p>
        <p><textarea name="answer_message" rows="10" cols="70" required>{{ answer['message'] }}</textarea></p>
        <input type="submit" value="Edit Answer">
    </form>

{% else %}
    <h4><a href="/">Back to Main page</a></h4>
    <form method="POST">
        <p><strong> Question title: {{ question_title }} </strong></p>
        <p><textarea name="answer_message" rows="10" cols="70" minlength="10" required></textarea></p>
        <p><input type="submit" value="Post Answer"></p>
    </form>
{% endif %}
</body>
</html>