<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Details of Question {{question_id}}</title>
    </head>
    <body>
        <h1>Details of Question {{question_id}}</h1>
        <h4><a href="/list">Back to Main page</a></h4>
	<br>
	<table style="width:90%">
        <tr>
            {% for header in headers_q %}
                <th>{{header}}</th>
            {% endfor %}
            <th>Add answer</th>
        </tr>
        <tr>
            {% for key, value in question.items() %}
                <td>{{value}}</td>
            {% endfor %}
            <td>
                <a href="/question/{{question['id']}}/new-answer">Add an answer</a>
            </td>
        </tr>
    </table>

    <p><br><br></p>

    <table>
        <tr>
            {% for header in headers_a %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>
        {% for answer in answers %}
            <tr>
                {% for item in answer %}
                    <td>{{answer[item]}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
	</table>
    </body>
</html>
