<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <form id="registration_form" method="post">
        <h1>Register account</h1>
        <p>Username</p>
        <input type="text" name="username"><br>
        <p>Password</p>
        <input type="text" name="password"><br>
        {% if invalid_username %}
            {{ invalid_username }}
        <p id="invalid_username"> {% endif %} </p>
        <input type="submit" value="Register">
    </form>
</body>
</html>