<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>List of all registered users</title>
    <link rel="icon" href="{{ url_for('static', filename='icons/Askmate.ico') }}">
</head>
<body>
{% include 'alert.html' %}
<h1>List of all registered users</h1>
<div class="menu">
    <a href="/" class="menu_point">Back to Main page</a>
    {% if session['username'] %}
        <a href="/logout" class="menu_point">Logout</a>
        <a href="/user/{{ user_id }}" class="menu_point">Your activities - {{ session['username'] }}'s user page</a>
        <a href="/list" class="menu_point">List of all questions</a>
        <a href="/tags" class="menu_point">All tags</a>
        <a href="/add-question" class="menu_point">Add new question</a>
        </div>
        <br>
        <table style="width:90%" border="1">
            <tr>
                {% for header in headers %}
                    <th>{{ header }} <br> <a href="/user-list/?order_by={{ header }}&order_direction=asc">↑</a> <a
                            href="/user-list/?order_by={{ header }}&order_direction=desc">↓</a></th>
                {% endfor %}
            </tr>
            {% for user in users %}
                <tr>
                    {% for key, value in user.items() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="menu">
            <a href="/registration" class="menu_point">Register</a>
            <a href="/login" class="menu_point">Login</a>
        </div>
    {% endif %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
